@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #777

::selection
	background-color: $accent
	color: #fff

*, *::before, *::after
	box-sizing: border-box

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #333 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.main

.container
	margin: 0 auto
	padding: 0
	max-width: 1290px

.bg-grey
	background-color: $bg-grey

.title
	font-family: "MulishBold", sans-serif
	font-size: 40px
	line-height: 52px
	margin: 0

.btn
	max-width: 153px
	width: 100%
	height: 42px
	display: flex
	justify-content: center
	align-items: center
	border: none
	border-radius: 0
	text-decoration: none
	font-size: 16px
	font-family: "MulishBold", sans-serif
	cursor: pointer

.about-operation
	&_inner

		&__tiitle

.our-target
	&__inner
		background-color: $accent
		color: #fff
		padding: 40px
		margin-bottom: 120px
		position: relative
		&::after
			content: ''
			position: absolute
			top: 40px
			right: 40px
			background: url('../img/quotes.png') no-repeat
			max-width: 180px
			width: 100%
			min-height: 140px
	&__title
		margin-bottom: 40px
	&__text
		font-family: "RubikRegular", sans-serif
		max-width: 1140px
		margin-bottom: 40px
	&__btn
		color: $accent
		background-color: #fff

.licenses

	&__inner
		padding-top: 40px
	&__title
		text-align: center
	&__box
		display: grid
		grid-template-columns: repeat(3, 300px)
		gap: 30px
		max-width: 990px
		margin: -27px auto 0
		position: relative
		bottom: -67px
	&__box-img-wrapper
		min-width: 300px
		width: 100%
	&__box-img

.feedback

	&__inner
		padding: 187px 0 200px
	&__col-left

	&__col-left-img

	&__col-right

	&__form

	&__form-title

	&__form-row

	&__form-checkbox-group

	&__form-checkbox

	&__form-label

	&__form-input

	&__form-agreement

	&__form-agreement-checkbox

	&__form-agreement-label

	&__form-btn
