@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #777

::selection
	background-color: $accent
	color: #fff

*, *::before, *::after
	box-sizing: border-box

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #333 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.main

.container
	margin: 0 auto
	padding: 0
	max-width: 1290px

.title

.btn

.about-operation
	&_inner

		&__tiitle

.our-target

	&__inner

		&__title

		&__text

		&__btn

.licenses

	&__inner

		&__title

		&__box

		&__box-img-wrapper

		&__box-img

.bg-grey

.feedback
	&_col-left

		&__inner

		&__col-left-img

		&__col-right

		&__form

		&__form-title

		&__form-row

		&__form-checkbox-group

		&__form-checkbox

		&__form-label

		&__form-input

		&__form-agreement

		&__form-agreement-checkbox

		&__form-agreement-label

		&__form-btn
